/Area 28 Zone 2/Library
/Area 28 Zone 2/Logs
/Area 28 Zone 2/Packages
/Area 28 Zone 2/ProjectSettings
/Area 28 Zone 2/Temp
/Area 28 Zone 2/UserSettings
/Area 28 Zone 2/.vsconfig
/Area 28 Zone 2/Area 28 Zone 2.sln
/Area 28 Zone 2/Assembly-CSharp-Editor.csproj
/Area 28 Zone 2/Assembly-CSharp.csproj
/Area 28 Zone 2/.vs